<div class="container">
  <h2>No list found!</h2>
    <div class="panel panel-warning">
      <div class="panel-heading">The list name you provided does not exist</div>
      <div class="panel-body">Maybe wrong url? Go to the index to check your lists!</div>
    </div>

    <%= link_to 'Go index', lists_path, :class => "btn btn-success"%>
</div>

