<div class="jumbotron text-center">
  <h1>Welcome to ToDoList app!</h1>
  <p>most cutie page to keep your mind on the flow</p> 
</div>

<div class="col-sm-12 text-center">
  <h3>Wanna make some ToDoLists?</h3>
  <p><%= link_to 'Make and View Lists!', controller: 'lists' %></p>
</div>